@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


.about-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    line-height: 1.4; 
}

.about-intro {
    margin-bottom: 60px;
    text-align: center;
}

.about-intro h1 {
    font-weight: 900;
    margin-bottom: 10px;
}

.about-content {
    display: flex;
    justify-content: space-between;

}

.about-text {
   margin-right: 80px;
}

.about-text p{
    margin-bottom: 30px;
}


.about-submit-now {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color:#7BFFE9;
    padding: 28px 18px;
    border-radius: 60px;
    width: 350px;
    margin-top:60px ;
    background-color: #2A3B49;
    border: none;

}

.about-img {

    height:608px;
    width:445px;
    margin-bottom: 80px;
    border-radius: 6px;
}



@media(max-width:925px) {
    .about-content {
       flex-direction: column-reverse;
       align-items: center;
    }

    .about-text {
        margin-right: 0 40px;
     }
}
