
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#2A3B49;
    height: 70px;
}

.logo {
    font-size: 36px;
    margin: 5px 15px;
}

.logo a {
    color:#7BFFE9
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-items a {
    color:#FFFF;
    margin: 0 15px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    background-image: url('../assets/homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
}

.description{
    background-color: #2A3B49;
    width: 40%;
    color: white;
    padding: 35px;
    border-radius: 100px 100px 100px 0;
    text-align: center;
}

.submit-now {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #7BFFE9;
    padding: 18px;
    border-radius: 60px;
    width: 200px;
    margin:20px ;

}

.submit-now a{
    color:#7BFFE9;
    
} 


@media(max-width: 768px) {
    .description{
        padding: 30px;
        border-radius: 100px 100px 100px 0; 
        width: 50%;
        font-size: 12px;
    }
}

@media(max-width: 525px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items:flex-start;
    }

    .description{
        width: 90%;
        font-size: 11px;
    }

    .submit-now {
        align-self: flex-end;
    }

    

}

@media(max-width: 325px) {

    .logo {
        font-size: 24px;
        margin: 5px 15px;
    }

    .nav-items a {
        margin: 0 8px;
        font-size: 10px;
    }

    .submit-now {
        padding: 12px;
        border-radius: 40px;
        width: 150px;
        font-size: 12px;
    }

 
}


  